<div class="car">
    <p><img src="img/car(1).png" alt=""></p>
    <p><img src="img/car(2).jpg" alt=""></p>
    <p><input type="text" placeholder="二手车"><input type="button" value="搜索"></p>
</div>


<div class="banner">
    <div class="le">
        <div class="mc">
            <p id="c1">免费卖车</p>
            <p id="c2">平均七天卖出</p>
            <p id="c3">已有<span>4232334</span>人提交了申请</p>
            <hr size="1" width="294" color="#e7e7e7" style="margin-top:8px">
            <form>
                <input type="tel" placeholder="请输入手机号码"><br>
                <input type="button" value="我要卖车">
                <input type="button" value="免费评估">
            </form>
            <p id="c4">我要买车<span>1年2万公里质保</span></p>
            <hr size="1" width="294" color="#e7e7e7" style="margin-top:8px">
            <p id="c6">品牌</p>
            <dl>
                <dt><img src="images/3.gif"></dt>
                <dd>现代</dd>
                <dd>哈弗</dd>
                <dd>丰田</dd>
                <dd>别克</dd>
                <dd>保时捷</dd>
                <dd>...更多</dd>
            </dl>
            <p id="c6">价格</p>
            <ul>
                <li><a href="#">5万以下</a></li>
                <li><a href="#">5-10万</a></li>
                <li><a href="#">10-15万</a></li>
                <li><a href="#">15-20万</a></li>
                <li><a href="#">20-30万</a></li>
                <li><a href="#">30-40万</a></li>
                <li><a href="#">40-60万</a></li>
                <li><a href="#">60万以上</a></li>
            </ul>
            <p id="c6" style="clear:left">车型</p>
            <img src="images/5_03.gif">
        </div>
    </div>
    <div class="ban">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/7_07.gif"></div>
            <div class="swiper-slide"><img src="images/7_09.gif"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    </div>
</div>
<!--/////////////-->
<div class="buy">
    <h3><span>|</span>帮卖优势</h3>
    <img src="img/bm.jpg	" alt="">
</div>

<div class="problem">
    <h3><span>|</span>常见问题</h3>
    <div class="pro">
        <p class="tit">Q1.什么是快速竞价卖车？</p>
        <p class="wer">快速竞价卖车，是指检测服务商服务范围内，车主车辆经过检测后，一键发布卖车，多家知名收车商家快速竞价的一种卖车方式。真正做到足不出户价比多家，时间短价格高。</p>
    </div>
    <div class="pro">
        <p class="tit">Q2.什么是看车估价？</p>
        <p class="wer">看车估价，是指超出检测服务商服务范围所限的区域，车主可以选择一个或者多个知名收车商家进行免费询价，价格满意即可成交。</p>
    </div>
    <div class="pro">
        <p class="tit">Q3.独立检测有什么好处？</p>
        <p class="wer">闲鱼二手车帮卖平台指定的第三方独立检测服务商，不涉及交易，最大程度保障车况的真实性，您的车况不再被刻意贬低，拼的是爱车真正实力。当地知名收车商家能依据检测报告竞价，您不用再开车到各车商门店去询价卖车。</p>
    </div>
    <div class="pro">
        <p class="tit">Q4.费用如何收取？</p>
        <p class="wer">
            平台不收取任何费用。<br/>
            检测费：车辆上拍不成交，不收检测费；车辆上拍成交，检测费由收车商家承担； 如果车辆只做检测不上拍，检测服务商会在线下向车主收取相关检测费用；<br/>
            过户费：车辆成交后，过户费由收车商家承担；<br/>
            手续补齐费：车辆发布前，车主需要补齐过户手续，包含但不限于违章、补证、变更、补税等，费用由车主自行负责。过户前车主手续仍未补齐，双方协商由收车商家代办补齐材料，双方就代办事务、代办费用需达成一致，费用由车主负责。</p>
    </div>
    <div class="pro">
        <p class="tit">Q5.什么样的车不能在平台出售？</p>
        <p class="wer">平台禁售非法车辆、事故车、无法过户车辆；具体定义可查看《闲鱼二手车帮卖平台规则》中2.3禁售车辆相关内容。</p>
    </div>
    <div class="pro">
        <p class="tit">Q6.如何预约检测？</p>
        <p class="wer">
            填写车型数据以及车辆所在地，系统会根据地域为您匹配以下两种预约方式：<br/>
            支持快速竞价卖车区域：填写手机号码，预约检测服务，检测公司会电话跟您联系，双方沟通合适的时间地点进行检测；<br/>
            不支持快速竞价卖车区域：直接点击收车商家进行免费精准估价，收车商家会电话跟您联系，双方沟通合适的时间进行到店检测即可；</p>
    </div>
    <div class="pro">
        <p class="tit">Q7.一次检测，为什么只能最多进行3次拍卖？</p>
        <p class="wer">因为采用的是拍卖竞价的方式，每一轮的出价，都是收车商家为了获得车辆的谨慎、真实的出价，过多次的拍卖不一定对车辆价格的增加有直接的影响。</p>
    </div>
    <div class="pro">
        <p class="tit">Q8.为什么需要在检测后3天内发布拍卖？</p>
        <p class="wer">检测报告是收车商家出价和决定购买的重要依据，为了确保检测后车况不发生重大变化，影响收车商家出价和收购，也为了尽快获得最好的拍卖价格，都需要尽快完成发布、进行拍卖。</p>
    </div>
</div>
<!--////////////////-->
<div class="lis">
    <p><img src="img/caro(1).png" alt=""><br/>无事故车<br/><span>无泡水 无火烧 无重大事故</span></p>
    <p><img src="img/caro(2).png" alt=""><br/>专业检测<br/><span>全部通过专业人员检测</span></p>
    <p><img src="img/caro(3).png" alt=""><br/>售后质保<br/><span>认证车享受3个月/5000公里免费质保</span></p>
    <p><img src="img/caro(4).png" alt=""><br/>无忧退车<br/><span>认证车享受7天退换服务</span></p>
    <p><img src="img/caro(5).png" alt=""><br/>金融贷款<br/><span>提供金融贷款购车服务</span></p>
    <p><img src="img/caro(6).png" alt=""><br/>高效过户<br/><span>安全便捷的代办过户服务</span></p>
</div>