<div class="pho">
    <div class="zf">
    <h2>支付宝担保交易<br/>买的安心，卖的放心！</h2>
    <p>闲鱼有独立的交易评价体系，引入了“芝麻信用”帮助闲鱼用户通过互相查看芝麻分，<br/>让交易因为信任而简单，买的更放心，卖得更安心。</p>
    </div>
    <div class="zf">
        <h2>一键发布就搞定<br/>闲置发布超简单！</h2>
        <p>即可轻松拍照发闲鱼，配上语言描述，简单生动萌萌哒！<br/>更有淘宝已买到宝贝一键转卖，剁手回血分分钟~~</p>
    </div>
    <div class="zf">
        <h2>鱼塘新玩法<br/>小区交易好方便！</h2>
        <p>鱼塘聚集你身边所有活跃在闲鱼上的小伙伴儿，省运费更信任！<br/>还有“塘主”为你提供帮助和服务</p>
    </div>
    <div class="zf">
        <h2>对话沟通更及时<br/>买卖信息不错过！</h2>
        <p>看一看，聊一聊~及时沟通才能事半功倍。<br/>交易沟通在一起，不用换来换去更轻松！对方不在线还可发留言</p>
    </div>
</div>






