*{
	margin: 0;
	padding: 0;
}
.fr{
    float: right;
}
.fl{
	float: left;
}
ul,ol li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
div{
	box-sizing:border-box;
}
body{
	width: 100%;
	height: 100%;
}
header{
	padding-left: 10%;
	padding-right: 10%;
	height: 36px;
	background: #F5F5F5;
	display: flex;
	justify-content: space-between;
}
header h3{
    margin-left: 54px;
	font-family: '幼圆';
	color: #fb4200;
	margin-right: 18px;
	line-height: 36px;
}
header .denglu{
	display: flex;
	flex-grow: 1;
}
header .denglu a{
	color: #fb4200;
	font-size: 12px;
	line-height: 36px;
}
header .denglu span a{
	color: #6c6c6c;
	margin-left: 8px;
}
header .kefu{
	display: flex;
	flex-grow:3;
	justify-content: flex-end;
	/*margin-right: 60px;*/
	position: relative;
}
header .kefu a{
	color: #6c6c6c;
	font-size: 12px;
    line-height: 36px;
    margin-left: 50px;
}
#k1,#k2,#k3{
    position: absolute;
    top: 16px;
}
#k1{
	right: 80px;
}
#k2{
	right: 52px;
}
#k3{
	right: -10px;
}
.nav{
	width: 100%;
	height: 90px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #ffda44;
	margin-bottom: 12px;
	display: flex;
	justify-content: flex-start;
}
.nav .log{
	width: 208px;
	height: 46px;
	margin-top: 22px;
	margin-right: 30px;
}
.nav .na{
    display: flex;
	justify-content: space-between;
    line-height: 90px;
}
.nav .na li{
	margin-right: 30px;
	position: relative;
}
.nav .na span{
	margin-right: 30px;
}
.nav .na li a{
	color: #000;
	font-size: 14px;
}
.nav .na li a:active{
	border-bottom: 4px solid #000;
}
#nav1{
	position: absolute;
	top:44px;
	right:-14px;
}
.min{
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	justify-content: space-between;
}
.min-l{
	width: 20%;
	height: 266px;
	border: 1px solid #e6e6e6;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
}
#fenlei li{
    height: 43px;
    border-bottom: 1px solid #e6e6e6;
}
#fenlei li img{
	vertical-align: middle;
}
#fenlei li a b{
    color: #333333;
    margin-right: 13px;
    font-weight: normal;
}
#fenlei li a{
	line-height: 43px;
	font-size: 12px;
	color: #979797;
	margin-left: 12px;
}
#fenlei li a span{
	margin-left: 4px;
	margin-right: 4px;
}
.min-c{
	width: 55%;
	height: 264px;
	margin-right: 10px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 40px;
}
.min-c .swiper-container .swiper-wrapper{
	width: 100%;
	height: 264px;
}
.swiper-container .swiper-wrapper img{
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active{
	background:red;
}
/*.min-c img{*/
	/*width: 640px;*/
	/*height: 264px;	*/
/*}*/

.min-r{
	width: 25%;
	height: 264px;
	border-left: 1px solid #efefef;
	margin-bottom: 40px;
}
.min-r .top{
	height: 120px;
	background-color: #f4f4f4;
}
.min-r .top .left{
	width: 135px;
	height: 96px;
	background-color: #fff;
	border: 1px solid #efefef;
	display: inline-block;
	margin-top: 10px;
	margin-left: 9px;
	margin-right: 9px;
	position: relative;
}
.min-r .top .left h4{
	margin-left: 20px;
	margin-top: 28px;
}
.min-r .top .left p{
	color: #9a9899;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}
.min-r .top .left p span{
	margin-left: 3px;
}
#fb{
	position: absolute;
	top: 34px;
	right: 20px;
}
.min-r .top .right{
	width: 126px;
	height: 96px;
	background-color: #fff;
	border: 1px solid #efefef;
	display: inline-block;
	margin-top: 10px;
	position: relative;
}
.min-r .top .right h4{
	margin-left: 16px;
	margin-top: 28px;
}
.min-r .top .right p{
	color: #9a9899;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}
.hobby{
	width: 100%;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
}
.left{
	width: 20%;
	height: 232px;
	clear: both;
	margin-right: 20px;
	float: left;
}
#le{
    border: 1px solid #eceaeb;
    background-color:#eceaeb;
    padding: 5px 5px 5px 5px;
	border-radius: 50%;
	float: left;
	margin-right: 8px;
}
.left dl dd{
    font-size: 12px;
    line-height: 20px;
}
.left dl .xq{
	font-size: 14px;
	font-weight: bold;
}
.left #xq1{
	margin-top: -4px;
}
.left #xq1 li{
    float: left;
    margin-right: 16px;
    margin-top: 17px;
}
.left #xq1 li a{
	color: #888888;
	font-size: 12px;
	padding: 7px 7px 5px 7px;
	background-color: #f7f7f7;
}
.center{
	width: 60%;
	height: 232px;
	float: left;
	border-bottom: 1px solid #e6e6e6;
}
.center .ce{
	width: 938px;
    height: 30px;
    border-bottom: 1px solid #e6e6e6;
    float: left;
}
.center .ce li{
	float: left;
}
.center .ce li a{
	color: #333333;
	font-size: 14px;
	line-height: 30px;
	padding-left: 16px;
	padding-right: 16px;
	display: block;
}
.center .ce li a:hover{
	color: #ffcc01;
	border-bottom: 3px solid #ffcc01;
}
.center #xh1{
	width: 120px;
	height: 190px;
	clear: both;
	margin-top: 12px;
	margin-right: 30px;
	float: left;
}
.center dd{
	font-size: 12px;
	text-align: center;
}
.center #xh2{
	width: 160px;
	height: 170px;
	float: left;
	margin-top: 32px;
	margin-right: 30px;
}
.center #xh2 dt{
	margin-bottom: 20px;
}
.center #xh3{
	margin-top: 12px;
	float: left;
	margin-right: 30px;
}
.center #xh4{
	float: left;
    margin-top: 12px;
    padding-right: 28px;
    border-right: 1px solid #e6e6e6;
    margin-right: 10px;
}
/*.center #xh5{*/
	/*margin-left: 10px;*/
    /*margin-top: 44px;*/
/*}*/
/*.center #xh5 dt{*/
	/*float: left;*/
	/*margin-right: 12px;*/
/*}*/
/*.center #xh5 #cs{*/
    /*font-weight: bold;*/
    /*line-height: 20px;*/
/*}*/
/*.center #xh5 #cs1{*/
	/*margin-top: 22px;*/
	/*color: #99999b;*/
/*}*/
/*.center #xh5 #cs1 span{*/
	/*color: #ff4400;*/
	/*font-weight: bold;*/
	/*margin-left: 3px;*/
/*}*/
.kind{
	clear: both;
	width: 100%;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 10px;
}
.kind h2{
	line-height: 40px;
}
h2 span{
	color: #ffda44;
	margin-right: 6px;
}
.kind .list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #e6e6e6;
}
.kind .list .cloud{
	width: 20%;
	height: 190px;
	margin: 15px 0;
}
.kind .list .cloud a{
	color: #333;
	margin: 0 15px 0 0;
	line-height: 28px;
	word-wrap: break-word;
	white-space: nowrap;
	font-size: 16px;
}
.kind .list .pic{
	width: 60%;
	height: 185px;
	/*background: red;*/
}
.kind .list .pic a{
	margin: 10px 0 22px 12px;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 17%;
	height: 185px;
	color: #333;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	/*background: rebeccapurple;*/
}
.kind .list .pic a .mo{
	color: red;
}
.kind .list .pic a img{
	vertical-align: middle;
}
.kind .list .listen{
	width: 20%;
	height: 185px;
	margin:10px 0 20px 0;
	/*background: aqua;*/
}
.kind .list .listen h5{
	line-height: 30px;
}
.kind .list .listen .desc{
	color: #979797;
	line-height: 24px;
	height: 87px;
	font-size: 12px;
}
/*///////////////////////////////*/
.bud{
	width:100%;
	height: 572px;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom:30px;
}
.bud h2{
	line-height: 40px;
}
.bud .baby{
	display: flex;
	height: 532px;
	border-bottom:1px solid #e6e6e6;
	/*flex-wrap: wrap;*/
	justify-content: flex-start;
	border-top: 1px solid #e6e6e6;
}
.baby .item{
	width: 70%;
	height: 520px;
	display: flex;
	/*background: red;*/
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	border-right:1px solid #e6e6e6;
	margin-top: 10px;
}
.baby .item li{
	width: 25%;
	display: inline-block;
	height: 235px;
	vertical-align: middle;
}
.baby .item li a{
	width: 100%;
	height: 235px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	color: #333;
}
.baby .item li a img{
	vertical-align: middle;
}
.baby .hots{
	width: 30%;
	height: 520px;
	/*background: violet;*/
	text-align: center;
	font-size: 14px;
}
.baby .hots .tags{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 145px;
	border-bottom:1px solid #e6e6e6;
}
.baby .hots .tags a{
	padding: 0 19px;
	/*display: inline-block;*/
	line-height: 36px;
	/*border-left: 1px solid #d9ddf0;*/
	word-wrap: break-word;
	white-space: nowrap;
	font-size: 12px;
	color: #333;
}
.baby .hots .tags span{
	color: #d9ddf0;
	line-height: 36px;
}
.baby .hots .theme{
	width: 100%;
	height: 365px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*background: aqua;*/
}
.baby .hots .theme .thepic{
	width: 40%;
	height: 145px;
}
.baby .hots .theme img{
	vertical-align: middle;
	height: 145px;
}
.baby .hots .theme h5{
	/*width: 70%;*/
	height: 18px;
	margin: 20px 0 5px 0;
}
.baby .hots .theme .des{
	width: 50%;
	height: 145px;

}
.baby .hots .theme .desc{
	color: #979797;
	height: 80px;
	overflow: hidden;
	line-height: 20px;
	font-size: 12px;
}
.links{
	width: 100%;
	height: 185px;
	background-color: #333;
	display: flex;
	justify-content: center;
}
.links p{
	display: inline-block;
	width: 125px;
	height: 125px;
	/*line-height: 30px;*/
	margin: 30px;
	text-align: center;
	vertical-align: middle;
}
.links p i{
	font-size: 80px;
	color: #ffffff;
	vertical-align: middle;
}
.links p span{
	color: #ffffff;
}
.foot{
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: 60px;
	line-height: 60px;
	display: flex;
	justify-content: center;
	font-size: 12px;
	/*background: yellow;*/
}
.foot span a{
	color: #6c6c6c;
}
.foot span {
	color: #9c9c9c;
	margin: 0 6px;
}
/*///////////////////////////////*/
.pho{
	width: 100%;
	height: 700px;
	background: #ffda44;

}
.pho .zf{
	width: 100%;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 20px;
	justify-content: center;
}
.pho h2{
	width: 100%;
	color: #333;
}
.car{
	width: 100%;
	height: 82px;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	justify-content: space-between;
	line-height: 82px;

}
.car p img:nth-child(1){
	width: 358px;
	height: 50px;
	vertical-align: middle;
}
.car p img:nth-child(2){
	width: 435px;
	height: 50px;
	vertical-align: middle;
}
.car input[type="text"]{
	outline: none;
	text-indent: 6px;
	width: 200px;
	height: 30px;
	border: 2px solid #F5AB00;
}
.car input[type="button"]{
	vertical-align: middle;
	width: 42px;
	height: 35px;
	background: #F5AB00;
	color: #ffffff;
	outline: none;
	cursor: pointer;
	border: 1px solid #F5AB00;
}
/*//////*/
.banner{
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: 420px;
}
.le{
	width: 30%;
	height: 420px;
	border:2px solid #e7e7e7;
	background-color: #fff;
	float: left;
}
.mc{
	margin-left: 22px;
	margin-top: 10px;
}
.mc #c1{
	font-size: 14px;
	float: left;
	padding-right: 5px;
}
.mc #c2{
	color: #ff7e00;
	font-size: 12px;
	float: left;
	line-height: 20px;
	padding-right: 6px;
}
.mc #c3{
	line-height: 20px;
	color: #9f9f9f;
	font-size: 12px;
}
.mc #c3 span{
	color: #22b3b4;
}
.mc form input{
	width: 162px;
	height: 36px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	padding-left: 10px;
	margin-top: 10px;
}
.mc form input[type="button"]{
	width: 98px;
	height: 36px;
	color: #fff;
	background-color: #22ac38;
}
.mc #c4{
	font-size: 14px;
	margin-top: 10px;
}
.mc #c4 span{
	margin-left: 10px;
	color:#9f9f9f;
	font-size: 12px;
}
.mc #c6{
	clear: both;
	font-size: 14px;
	margin-top: 5px;
}
.mc dl{
	margin-top: 5px;
}
.mc dl dt{
	margin-left: -10px;
}
.mc dl dd{
	color: #9f9f9f;
	float: left;
	padding-right: 16px;
	font-size: 12px;
}
.mc ul li{
	float: left;
	padding-right: 20px;
}
.mc ul li a{
	color: #9f9f9f;
	font-size: 12px;
}
.ban{
	height: 420px;
}
.ban .swiper-container{
	height: 420px;
}
.buy{
	width: 100%;
	height: 360px;
	margin-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
}
.buy h3 span{
	color: #25B070;
	margin-right: 8px;
}
.problem{
	 width: 100%;
	 padding-left: 10%;
	 padding-right: 10%;
 }
.buy h3{
	line-height: 30px;
	border-bottom:1px solid #EEE;
}
.problem h3{
	line-height: 30px;
}
.problem h3 span{
	color: #25B070;
	margin-right: 8px;
}
.pro{
	border-top: 1px solid #EEE;
}
.pro .tit{
	color: #222;
	padding-top: 20px;
	font-size: 16px;
	margin-bottom: 8px;
}
.pro .wer{
	line-height: 1.5;
	color: #666;
	font-size: 14px;
	margin-left: 16px;
	padding-bottom: 20px;
}
.lis{
	width: 100%;
	height: 280px;
	display: flex;
	justify-content: center;
	border-top: 1px solid #25B070;
}
.lis p{
	width: 198px;
	height: 135px;
	font-size:20px;
	color: #666;
	margin-top: 72px;
	text-align: center;
	vertical-align: middle;
}
.lis p span{
	font-size:12px;
	color: #666;
	text-align: center;
}
.lis p img{
	width: 48px;
	height: 53px;
	vertical-align: middle;
}